<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Siswa</h1>
</md-toolbar>
<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Siswa</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
			 	ID Siswa : {{formData.id}} <br />
				Nama Siswa: {{formData.namaSiswa}} <br />
				Tanggal Lahir: {{formData.tanggalLahir}}<br />
				Jenis Kelamin: {{formData.jenisKelamin}}<br />
				Alamat: {{formData.alamat}}<br />
				Nama Bapak: {{formData.namaBapak}}<br />
				Email Bapak: {{formData.emailBapak}}<br />
				Nama Ibu: {{formData.namaIbu}}<br />
				Email Ibu: {{formData.emailIbu}}<br />
				Diterima Sejak: {{formData.diterimaSejak}}<br />
				Sekolah Siswa: {{formData.sekolah.namaSekolah}} <br />
			 </div>
		</md-list-item>
	</md-list>
</md-content>