<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Siswa</h1>
</md-toolbar>
<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Siswa</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
			 	ID Siswa : {{siswa.id}} <br />
				Nama Siswa: {{siswa.namaSiswa}} <br />
				Tanggal Lahir: {{siswa.tanggalLahir}}<br />
				Jenis Kelamin: {{siswa.jenisKelamin}}<br />
				Nama Bapak: {{siswa.namaBapak}}<br />
				Email Bapak: {{siswa.emailBapak}}<br />
				Nama Ibu: {{siswa.namaIbu}}<br />
				Email Ibu: {{siswa.emailIbu}}<br />
				Diterima Sejak: {{siswa.diterimaSejak}}<br />
				Sekolah Siswa: {{siswa.sekolah.namaSekolah}} <br />
			 </div>
		</md-list-item>
	</md-list>
</md-content>