<md-content layout-padding>
<div ng-controller="SiswaCtrl">
	<div layout-align="center start" md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<md-content class="md-whiteframe-11dp" flex="90">
			<div layout-margin>
				<md-toolbar class="md-theme-indigo">
        			<h1 class="md-toolbar-tools">Edit Siswa</h1>
				</md-toolbar>
				<form ng-submit="update()">
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
	        				<label>NISN</label>
	        				<input type="number" ng-model="formData.nisn">
	     				</md-input-container>
	     			</div>
	     			<div layout-gt-sm="row">
	     				<md-input-container class="md-block" flex-gt-sm>
	        				<label>Nama Siswa (Lengkap)</label>
	        				<input type="text" ng-model="formData.namaSiswa">
	     				</md-input-container>
	     			</div>
					<div layout-gt-sm="row">
						<md-input-container>
	        				<label>Tempat Lahir</label>
	        				<input type="text" ng-model="formData.tempatLahir">
	     				</md-input-container>
	     				<md-datepicker class="block" flex-gt-sm ng-model="formData.tanggalLahir" md-placeholder="Tanggal Lahir"></md-datepicker>
	     				
					</div>
		    		<md-radio-group ng-model="formData.jenisKelamin" style="display: inline;">
		        				<md-radio-button name="jenisKelamin" value="Laki_laki" class="md-primary">Laki-Laki</md-radio-button>
		        				<md-radio-button name="jenisKelamin" value="Perempuan" class="md-primary">Perempuan</md-radio-button>
		        	</md-radio-group>
	        		<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Alamat Siswa</label>
        					<input type="text" ng-model="formData.alamatSiswa">
     					</md-input-container>
		    		</div>
		    		<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>No. HP Siswa</label>
        					<input type="tel" ng-model="formData.telpSiswa" maxlength="12">
     					</md-input-container>
		    		</div>
	        		<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>No. Ijazah</label>
        					<input type="text" ng-model="formData.noIjazah">
     					</md-input-container>
		    		</div>
     				<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Tahun</label>
        					<input type="text" ng-model="formData.tahunSekolahAsal">
     					</md-input-container>
		    		</div>
		    		<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Nama Ayah</label>
        					<input type="text" ng-model="formData.namaAyah">
     					</md-input-container>
		    		</div>
      				<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Nama Ibu</label>
        					<input type="text" ng-model="formData.namaIbu">
     					</md-input-container>
		    		</div>
		    		<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Alamat Orang Tua</label>
        					<input type="text" ng-model="formData.alamatOrtu">
     					</md-input-container>
		    		</div>
     				<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>No. HP Orang Tua</label>
        					<input type="text" ng-model="formData.telpOrtu" maxlength="12"> 
     					</md-input-container>
		    		</div>
     				<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Pekerjaan Ayah</label>
        					<input type="text" ng-model="formData.pekerjaanAyah">
     					</md-input-container>
		    		</div>
		    		<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Pekerjaan Ibu</label>
        					<input type="text" ng-model="formData.pekerjaanIbu">
     					</md-input-container>
		    		</div>
		    		<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Nama Wali</label>
        					<input type="text" ng-model="formData.namaWali">
     					</md-input-container>
		    		</div>
		    		<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>No. HP Wali</label>
        					<input type="text" ng-model="formData.alamatWali">
     					</md-input-container>
		    		</div>
     				<div layout-gt-sm>
		    			<md-input-container class="md-block" flex-gt-sm>
        					<label>Pekerjaan Wali</label>
        					<input type="text" ng-model="formData.pekerjaanWali">
     					</md-input-container>
		 			</div>
     		<md-content>
        		 <md-datepicker ng-model="formData.diterimaSejak" md-placeholder="Diterima Sejak"></md-datepicker>
     		</md-content>
     		<div layout="row" layout-wrap layout-margin layout-align="end end">
        		<md-input-container>
        			<input type="submit" class="md-button md-raised md-primary"  value="Tambah" />
      			</md-input-container>
      		</div>
		</form>	
			</div>
		</md-content>
	</div>
</div>