<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Siswa</h1>
</md-toolbar>

<div ng-controller="addSiswaCtrl">
<div>
	<div layout="row">
		<form ng-submit="submit()">
			<md-input-container>
        		<label>Nama Siswa</label>
        		<input type="text" ng-model="siswa.namaSiswa">
     		</md-input-container>
     		<md-content>
        		 <md-datepicker ng-model="siswa.tanggalLahir" md-placeholder="Tanggal Lahir"></md-datepicker>
     		</md-content>
     		<md-input-container>
        		<md-select ng-model="siswa.jenisKelamin" placeholder="Jenis Kelamin">
          			<md-option ng-value="Laki_Laki">Laki-Laki</option>
					<md-option ng-value="Perempuan">Perempuan</option>
        		</md-select>
     		</md-input-container>
     		<md-input-container>
        		<label>Nama Bapak</label>
        		<input type="text" ng-model="siswa.namaBapak">
     		</md-input-container>
     		<md-input-container>
        		<label>Email Bapak</label>
        		<input type="text" ng-model="siswa.emailBapak">
     		</md-input-container>
     		<md-input-container>
        		<label>Nama Ibu</label>
        		<input type="text" ng-model="siswa.namaIbu">
     		</md-input-container>
     		<md-input-container>
        		<label>Email Ibu</label>
        		<input type="text" ng-model="siswa.emailIbu">
     		</md-input-container>
     		<md-content>
        		 <md-datepicker ng-model="siswa.tanggalLahir" md-placeholder="Diterima Sejak"></md-datepicker>
     		</md-content>
     		<md-input-container>
        		<label>Nama Sekolah</label>
        		<md-select ng-model="siswa.sekolah.id">
          		<md-option ng-repeat="sek in sekolah" value="{{sek.id}}">
            		{{sek.namaSekolah}}
          		</md-option>
        </md-select>
      </md-input-container>
     		<md-input-container>
      			<md-button ng-click="submit()" class="md-primary btn btn-primary">Tambah</md-button>
      		</md-input-container>
		</form>
	</div>
</div>