<div>
		<h2>List Siswa</h2>
		<a href="/#/siswa-form">Tambah</a>
		<table border="1">
			<thead>
				<tr>
					<th>ID Siswa</th>
					<th>Nama Siswa</th>
					<th>Tanggal Lahir</th>
					<th>Jenis Kelamin</th>
					<th>Nama Bapak</th>
					<th>Email Bapak</th>
					<th>Nama Ibu</th>
					<th>Email Ibu</th>
					<th>Diterima Sejak</th>
					<th>Nama Sekolah</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item.id}}</td>
					<td><a href="/#/siswa-detail/{{item.id}}">{{item.namaSiswa}}</a></td>
					<td>{{item.tanggalLahir}}</td>
					<td>{{item.jenisKelamin}}</td>
					<td>{{item.namaBapak}}</td>
					<td>{{item.emailBapak}}</td>
					<td>{{item.namaIbu}}</td>
					<td>{{item.emailIbu}}</td>
					<td>{{item.diterimaSejak}}</td>
					<td>{{item.sekolah.namaSekolah}}</td>
				</tr>
			</tbody>
		</table>
	</div>