<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Siswa</h1>
</md-toolbar>
<a href="/#/siswa-form">
    	<md-button class="md-fab md-mini md-primary center" aria-label="Add">
          	<ng-md-icon icon="add" style="fill: #abcdef" size="23"></ng-md-icon>
        </md-button>
    </a>
    

<md-table-container>
	<table md-table md-row-select border="1">
		<thead md-head>
			<tr md-row>
				<th md-coloumn>ID Siswa</th>
				<th md-coloumn>Nama Siswa</th>
				<th md-coloumn>Tanggal Lahir</th>
				<th md-coloumn>Jenis Kelamin</th>
				<th md-coloumn>Nama Bapak</th>
				<th md-coloumn>Email Bapak</th>
				<th md-coloumn>Nama Ibu</th>
				<th md-coloumn>Email Ibu</th>
				<th md-coloumn>Diterima Sejak</th>
				<th md-coloumn>Nama Sekolah</th>
				<th md-coloumn>Aksi</th>
			</tr>
		</thead>
		<tbody md-body align="">
			<tr md-row ng-repeat="item in items">
				<th md-cell>{{item.id}}</th>
				<th md-cell>{{item.namaSiswa}}</th>
				<th md-cell>{{item.tanggalLahir}}</th>
				<th md-cell>{{item.jenisKelamin}}</th>
				<th md-cell>{{item.namaBapak}}</th>
				<th md-cell>{{item.emailBapak}}</th>
				<th md-cell>{{item.namaIbu}}</th>
				<th md-cell>{{item.emailIbu}}</th>
				<th md-cell>{{item.diterimaSejak}}</th>
				<th md-cell>{{item.sekolah.namaSekolah}}</th>
				<th md-cell>
					<a href="/#/siswa-edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/siswa-detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href="/#/siswa-delete/{{item.id}}"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
				</th>
			</tr>
		</tbody>
	</table>
</md-table-container>