<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Edit Tingkat</h1>
</md-toolbar>
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<form name="formSubmit" ng-submit="update()">
			<select ng-model="formData.tingkat">
                <option value="SD">SD</option>
                <option value="SMP">SMP</option>
                <option value="SMA">SMA</option>
                <option value="SMK">SMK</option>
                <option value="MA">MA</option>
                <option value="SSS">SSS</option>
            </select>
   			<md-input-container>
      			<input type="submit" class="md-button md-primary" value="Edit" />
      		</md-input-container>	
		</form>
	</md-content>
