<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Kelas</h1>
</md-toolbar>

<div ng-controller="TingkatCtrl">
	<div>
		<div layout="row" align="center">
			<form name="formSubmit" ng-submit="save()">
				<md-input-container>
	        		<label>Tingkat Kelas</label>
	        		<input type="number" ng-model="formData.tingkat" maxlength="3">
	     		</md-input-container>
	      		<md-input-container>
	      			<input type="submit" class="md-button md-primary" value="Tambah" />
	      		</md-input-container>
			</form>
		</div>
	</div>
</div>