<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Form Tingkat</h1>
</md-toolbar>

<div ng-controller="addTingkatCtrl" layout="column" ng-cloak class="md-inline-form">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
   		<form ng-submit="submit()">
   			<md-select>
   				<md-select-button label="Tingkat"></md-select-button>
   				
   			</md-select>
      	</form>
      <!-- <md-button md-no-ink class="md-primary">
      	<input type="submit" value="Tambah" />
      </md-button>  -->
      
    </div>
    </md-content>
 
</div>