<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Tingkat</h1>
</md-toolbar>
<br />
<md-table-container>
	
	<table md-table md-row-select border="1" ng-model="provinsi" md-progress="promise">
		<thead md-head md-order="query.order" md-on-reorder="onReorder">
			<tr md-row>
				<th md-coloumn>Tingkat</th>
				<th md-coloumn>Aksi</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-repeat="item in items">
				<th md-cell>{{item.tingkat}}</th>
				<th md-cell>
		 			<a href="/#/tingkat/edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/tingkat/detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href ng-click="showConfirm(item.id)"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 		</th>
				
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.total}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
<div layout="row" layout-wrap layout-margin layout-align="end end">
		<a href="/#/tingkat/form" md-button class="md-fab md-primary md-raised center">
      		<ng-md-icon icon="add" style="fill: #abcdef" size="25"></ng-md-icon>
    	</a>
    </div>
