<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Kelas</h1>
</md-toolbar>
<br />

<md-content layout-padding class="md-no-momentum">
<md-table-container>
	<table md-table md-row-select border="1" ng-model="penilaian" md-progress="promise">
		<thead md-head md-order="query.order" md-on-reorder="onReorder">
			<tr md-row>
				<th md-coloumn>Kelas</th>
				<th md-coloumn>Tahun Ajaran</th>
				<th md-coloumn>Wali Kelas</th>
				<th md-coloumn>Penilaian</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-repeat="item in items">
				<td md-coloumn align="center">{{item.tingkat.tingkat}}{{item.grupKelas.grupKelas}}</td>
				<td md-coloumn align="center">{{item.tahunAjaran.tahunAwal}}/{{item.tahunAjaran.tahunAkhir}}</td>
				<td md-coloumn align="center">{{item.waliKelas.nama}}</td>
				<td md-coloumn align="center">
		 			
		 			<a href="/#/penilaian/list/kelas/{{item.id}}" class="md-button md-raised md-primary">Detail</a> 
		 			
		 		</td>
				
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.total}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

</md-content>
