<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Edit Tahun Ajaran</h1>
</md-toolbar>
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<form name="formSubmit" ng-submit="update()">
			<md-input-container>
        		<p>Current: </p>
        		<md-radio-group ng-model="formData.current">
        			<md-radio-button name="current" value="true" class="md-primary">True</md-radio-button>
        			<md-radio-button name="current" value="false" class="md-primary">False</md-radio-button>
        		</md-radio-group>
      		</md-input-container>
      		<md-input-container>
        		<label>Tahun Awal</label>
        		<input type="number" ng-model="formData.tahunAwal">
      		</md-input-container>
      		<md-input-container>
        		<label>Tahun Akhir</label>
        		<input type="number" ng-model="formData.tahunAkhir">
      		</md-input-container>
   			<md-input-container>
      			<input type="submit" class="md-button md-primary" value="Edit" />
      		</md-input-container>	
		</form>
	</md-content>
