<div ng-controller="addTahunAjaranCtrl">
		<h2>Isi Tahun Ajaran</h2>
		<form ng-submit="submit()">
			<input type="text" ng-model="tahun_ajaran.tahunAwal" placeholder="Tahun Awal"><br />
			<input type="text" ng-model="tahun_ajaran.tahunAkhir" placeholder="Tahun Akhir"><br />
			<select ng-model="tahun_ajaran.sekolah.id">
				<option ng-repeat="sek in sekolah" value="{{sek.id}}">{{sek.namaSekolah}}</option>
			</select>
			<input type="submit" value="OK">
		</form>
		
		<h5>Tahun Ajaran</h5>
			Tahun Awal: {{tahun_ajaran.tahunAwal}}<br />
			Tahun Akhir: {{tahun_ajaran.tahunAkhir}}<br />
	</div>