<div>
		<h2>List Tahun Ajaran</h2>
		<table border="1">
			<thead>
				<tr>
					<th>ID Tahun Ajaran</th>
					<th>Cuurent</th>
					<th>Tahun Awal</th>
					<th>Tahun Akhir</th>
					<th>Nama Sekolah</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item.id}}</td>
					<td>{{item.current}}</td>
					<td><a href="/#/tahun-ajaran-detail/{{item.id}}">{{item.tahunAwal}}</a></td>
					<td>{{item.tahunAkhir}}</td>
					<td>{{item.sekolah.namaSekolah}}</td>
				</tr>
			</tbody>
		</table>
	</div>