<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Guru Mengajar Mata Pelajaran</h1>
</md-toolbar>
<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Kabupaten</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
				Id : {{formData.id}} <br />
				Nama Guru: {{formData.guru_mengajar_matapelajaran.guru.id}} <br />
				Nama Provinsi: {{formData.guru_mengajar_matapelajaran.mata_pelajaran_id}}
			</div>
		</md-list-item>
	</md-list>
</md-content>