<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Sekolah</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
				ID Sekolah : {{sekolah.id}} <br />
				Kode Sekolah: {{sekolah.kodeSekolah}} <br />
				Nama Sekolah: {{sekolah.namaSekolah}} <br />
				Kode Pos: {{sekolah.kodepos}} <br />
				Kecamatan: {{sekolah.kecamatan.namaKecamatan}} <br />
				Kabupaten: {{sekolah.kabupaten.namaKabupaten}} <br />
				Provinsi: {{sekolah.provinsi.namaProvinsi}}
			</div>
		</md-list-item>
	</md-list>
</md-content>