<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Tambah Kelas</span>
  </div>
</md-toolbar>
<div ng-controller="addKelasCtrl">
	<div>
		<div layout="row">
			<form ng-submit="submit()">
				<md-input-container>
	        		<label>Tingkat Kelas</label>
	        		<input type="text" ng-model="kelas.tingkat">
	     		</md-input-container>
	     		<md-input-container>
	        		<label>Grup Kelas</label>
	        		<input type="text" ng-model="kelas.grupKelas">
	     		</md-input-container>
	     		<md-input-container>
	        		<label>Jurusan Kelas</label>
	        		<input type="text" ng-model="kelas.jurusan">
	     		</md-input-container>
	     		<md-input-container>
	      			<label>Tahun Ajaran</label>
	        		<md-select ng-model="kelas.tahunAjaran.id">
	          			<md-option ng-repeat="ajaran in tahun_ajaran" value="{{ajaran.id}}">
	            			{{ajaran.tahunAwal}}
	         			</md-option>
	        		</md-select>
	      		</md-input-container>
	      		<md-input-container>
	      			<label>Nama Sekolah</label>
	        		<md-select ng-model="kelas.sekolah.id">
	          			<md-option ng-repeat="sek in sekolah" value="{{sek.id}}">
	            			{{sek.namaSekolah}}
	         			</md-option>
	        		</md-select>
	      		</md-input-container>
	      		<md-input-container>
	      			<label>Wali Kelas</label>
	        		<md-select ng-model="kelas.waliKelas.id">
	          			<md-option ng-repeat="wali in guru" value="{{wali.id}}">
	            			{{wali.nama}}
	         			</md-option>
	        		</md-select>
	      		</md-input-container>
	      		<md-input-container>
	      			<md-button ng-click="submit()" class="md-primary btn btn-primary">Tambah</md-button>
	      		</md-input-container>
			</form>
		</div>
	</div>
</div>