<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Kompetensi Inti</h1>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Tambah Kompetensi Inti</span>
  </div>
</md-toolbar>
<div ng-controller="addKompetensiIntiCtrl">
<div>
    <div layout="row">
    	<form ng-submit="submit()">
    		<md-input-container>
       			<label>Deskripsi</label>
       			<input type="text" ng-model="kompetensi_inti.description">
      		</md-input-container>
      		<md-input-container>
        		<label>Tahun Awal</label>
        		<md-select ng-model="kompetensi_inti.tahunAjaran.id">
          			<md-option ng-repeat="ajaran in tahun_ajaran" value="{{ajaran.id}}">
            			{{ajaran.tahunAwal}}
          			</md-option>
        		</md-select>
      		</md-input-container>
      		<md-input-container>
        		<label>Mata Pelajaran</label>
        		<md-select ng-model="kompetensi_inti.mataPelajaran.id">
          			<md-option ng-repeat="matpel in mata_pelajaran" value="{{matpel.id}}">
            			{{matpel.namaMatpel}}
          			</md-option>
        		</md-select>
      		</md-input-container>
      		<md-input-container>
      			<md-button ng-click="submit()" class="md-primary btn btn-primary">Tambah</md-button>
      		</md-input-container>	  
    	</form>
    </div>
</div>