<div ng-controller="addKompetensiIntiCtrl">
		<h2>Isi Kompetensi Inti</h2>
		<form ng-submit="submit()">
			<input type="text" ng-model="kompetensi_inti.description" placeholder="Descrption"><br />
			<select ng-model="kompetensi_inti.tahunAjaran.id">
				<option ng-repeat="ajaran in tahun_ajaran" value="{{ajaran.id}}">{{ajaran.tahunAwal}}</option>
			</select>
			<select ng-model="kompetensi_inti.mataPelajaran.id">
				<option ng-repeat="matpel in mata_pelajaran" value="{{matpel.id}}">{{matpel.namaMatpel}}</option>
			</select>
			<input type="submit" value="OK">
		</form>
		
		<h5>Kompetensi Inti</h5>
			Description: {{kompetensi_inti.description}}<br />
	</div>