<div>
		<h2>List Kompetensi Inti</h2>
		<table border="1">
			<thead>
				<tr>
					<th>ID Kompetensi Inti</th>
					<th>Description</th>
					<th>Tahun Ajaran</th>
					<th>Mata Pelajaran</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item.id}}</td>
					<td><a href="/#/kompetensi-inti-detail/{{item.id}}">{{item.description}}</a></td>
					<td>{{item.tahunAjaran.tahunMasuk}}/{{item.tahunAjaran.tahunKeluar}}</td>
					<td>{{item.mataPelajaran.namaMatpel}}</td>
				</tr>
			</tbody>
		</table>
	</div>