<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Guru</h1>
</md-toolbar>

<div ng-controller="showAddGuruCtrl" class="md-padding" ng-cloak>
	<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="end end">
		<md-button class="md-fab md-primary md-raised center" ng-click="showAddForm($event)">
      		<ng-md-icon icon="add" style="fill: #abcdef" size="25"></ng-md-icon>
    	</md-button>
    </div>
</div>

<a href="/#/guru-form">
    	<md-button class="md-fab md-mini md-primary center" aria-label="Add">
          	<ng-md-icon icon="add" style="fill: #abcdef" size="23"></ng-md-icon>
        </md-button>
    </a>
    
<md-table-container>
	<table md-table md-row-select border="1" ng-model="provinsi" md-progress="promise">
		<thead md-head md-order="query.order" md-on-reorder="onReorder">
			<tr md-row>
				<th md-coloumn>Nama Guru</th>
				<th md-coloumn>Email Guru</th>
				<th md-coloumn>Aksi</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-repeat="item in items">
				<th md-cell>{{item.nama}}</th>
				<th md-cell>{{item.email}}</th>
				<th md-cell>
					<a href="/#/guru-edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/guru-detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href="/#/guru-delete/{{item.id}}"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
				</th>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.total}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>