<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Guru</h1>
</md-toolbar>
<br />

<br /> 
<md-content layout-padding>
<div ng-controller="GuruCtrl">
	<md-content md-theme="docs-dark">
		
	<md-table-container>
		<md-input-container class="md-block" md-no-float> 
			<input type="search" ng-model="search" ng-change="searchField()" placeholder="Search" />
		</md-input-container>
	<table md-table md-row-select border="1" ng-model="guru" md-progress="promise">
		<thead md-head md-order="filter" md-on-reorder="onReorder">	
			<tr md-row>
				<th md-coloumn ng-click="sort('formData.nip')">
					NIP
					 <span class="glyphicon sort-icon" ng-show="sortKey=='formData.nip'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th md-coloumn ng-click="sort('formData.nama')">
					Nama
					<span class="glyphicon sort-icon" ng-show="sortKey=='formData.nama'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th md-coloumn ng-click="sort('formData.email')">
					Email
					<span class="glyphicon sort-icon" ng-show="sortKey=='formData.email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th md-coloumn ng-click="sort('formData.telp')">
					No. HP
					<span class="glyphicon sort-icon" ng-show="sortKey=='formData.telp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th md-coloumn ng-click="sort('formData.alamat')">
					Alamat
					<span class="glyphicon sort-icon" ng-show="sortKey=='formData.alamat'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th md-coloumn><a href="" style="color: black;" ng-click="order('guru.nama')">Aksi</a></th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-repeat="item in items |orderBy:sortKey:reverse">
				<td md-coloumn align="center">{{item.nip}}</td>
				<td md-coloumn align="center">{{item.nama}}</td>
				<td md-coloumn align="center">{{item.email}}</td>
				<td md-coloumn align="center">{{item.telp}}</td>
				<td md-coloumn align="center">{{item.alamat}}</td>
				<td md-coloumn align="center">
					<a href="/#/guru/edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/guru/detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href ng-click="showConfirm(item.id)"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
				</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
</md-content>
<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.total}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
<div layout="row" layout-wrap layout-margin layout-align="end end">
		<a href="/#/guru/form" md-button class="md-fab md-primary md-raised center">
      		<ng-md-icon icon="add" style="fill: #abcdef" size="25"></ng-md-icon>
    	</a>
    </div>
</div>
</md-content>
