<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Edit Provinsi</h1>
</md-toolbar>
<div ng-controller="updateProvinsiCtrl" layout="column" ng-cloak class="md-inline-form">
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
	<div>
		<form name="formSubmit" ng-submit="update()">
			<md-input-container>
        		<label>Kode Provinsi</label>
       			<input type="number" ng-model="provinsi.kodeProvinsi" maxlength="2">
      		</md-input-container>
      		<md-input-container>
        		<label>Nama Provinsi</label>
        		<input type="text" ng-model="provinsi.namaProvinsi" placeholder="Nama Provinsi">
      		</md-input-container>
      		<md-input-container>
				<input type="submit" class="md-button md-primary" value="Edit" />
			</md-input-container>
		</form>
	</div>
	</md-content>
</div>