<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Form Provinsi</h1>
</md-toolbar>

<div ng-controller="addProvinsiCtrl" layout="column" ng-cloak class="md-inline-form">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
   		<form ng-submit="submit()">
      	<md-input-container>
        <label>Kode Provinsi</label>
       	<input type="text" ng-model="provinsi.kodeProvinsi">
      </md-input-container>
      <md-input-container>
        <label>Nama Provinsi</label>
        <input type="text" ng-model="provinsi.namaProvinsi">
      </md-input-container>
      <md-input-container>
      <md-button ng-click="submit()" class="md-primary btn btn-primary">Tambah</md-button>
      </md-input-container>
      <!-- <md-button md-no-ink class="md-primary">
      	<input type="submit" value="Tambah" />
      </md-button>  -->
      
    </div>
    </md-content>
 
</div>