<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Form Provinsi</h1>
</md-toolbar>

<div ng-controller="addProvinsiCtrl" layout="column" ng-cloak class="md-inline-form">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
   		<form name="submitForm" ng-submit="save()">
      	<md-input-container>
        <label>Kode Provinsi</label>
       	<input type="text" ng-model="provinsi.kodeProvinsi">
      </md-input-container>
      <md-input-container>
        <label>Nama Provinsi</label>
        <input type="text" ng-model="provinsi.namaProvinsi">
      </md-input-container>
      <md-input-container>
      <md-button ng-click="submit()" class="md-primary btn md-theme-indigo">
      		<ng-md-icon icon="send" style="fill: #abcdef" size="27">
      </md-button>
      </md-input-container>
      	<input type="submit" class="md-button md-primary" value="Tambah" />
      </form>
    </div>
    </md-content>
 
</div>