<div>
		<h2>List Provinsi</h2>
		<a href="/#/provinsi-form">Tambah</a><br />
		<table border="1">
			<thead>
				<tr>
					<th>ID Provinsi</th>
					<th>Kode Provinsi</th>
					<th>Nama Provinsi</th>
					<th>Aksi</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item.id}}</td>
					<td>{{item.kodeProvinsi}}</td>
					<td><a href="/#/provinsi-detail/{{item.id}}">{{item.namaProvinsi}}</a></td>
					<td><a href="/#/provinsi-edit/{{item.id}}">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>