<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Materi Pokok</h1>
</md-toolbar>
<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Materi Pokok</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
			 	ID Materi Pokok: {{materi_pokok.id}}<br />
				Indikator: {{materi_pokok.indikator}}<br />
				Kompetensi Dasar: {{materi_pokok.kompetensiDasar.description}}<br />
			 </div>
		</md-list-item>
	</md-list>
</md-content>