<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Materi Pokok</h1>
</md-toolbar>
<a href="/#/materi-pokok-form">
    	<md-button class="md-fab md-mini md-primary center" aria-label="Add">
          	<ng-md-icon icon="add" style="fill: #abcdef" size="23"></ng-md-icon>
        </md-button>
    </a>
   
<md-table-container>
	<table md-table md-row-select border="1">
		 <thead md-head>
		 	<tr md-row>
		 		<th md-coloumn>ID Materi Pokok</th>
		 		<th md-coloumn>Indikator</th>
		 		<th md-coloumn>Kompetensi Dasar</th>
		 		<th md-coloumn>Aksi</th>
		 	</tr>
		 </thead>
		 <tbody md-body>
		 	<tr md-row ng-repeat="item in items">
		 		<th md-cell>{{item.id}}</th>
		 		<th md-cell>{{item.indikator}}</th>
		 		<th md-cell>{{item.kompetensiDasar.description}}</th>
		 		<th md-cell>
		 			<a href="/#/materi-pokok-edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/materi-pokok-detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href="/#/materi-pokok-delete/{{item.id}}"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 		</th>
		 	</tr>
		 </tbody>
	</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.total}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
<div ng-controller="showAddMateriPokokCtrl" class="md-padding" ng-cloak>
	<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="end end">
		<md-button class="md-fab md-primary md-raised center" ng-click="showAddForm($event)">
      		<ng-md-icon icon="add" style="fill: #abcdef" size="25"></ng-md-icon>
    	</md-button>
    </div>
</div>