<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Tambah Kecamatan</span>
  </div>
</md-toolbar>


<div ng-controller="addKecamatanCtrl">
	<div>
		<div layout="row">
			<form ng-submit="submit()">
				<md-input-container>
	        		<label>Kode Kecamatan</label>
	        		<input type="text" ng-model="kecamatan.kodeKecamatan">
	     		</md-input-container>
	     		<md-input-container>
	        		<label>Nama Kecamatan</label>
	        		<input type="text" ng-model="kecamatan.namaKecamatan">
	     		</md-input-container>
	     		<md-input-container>
	      			<label>Kabupaten</label>
	        		<md-select ng-model="kabupaten.provinsi.id">
	          			<md-option ng-repeat="kab in kabupaten" value="{{kab.id}}">
	            			{{kab.namaKabupaten}}
	         			</md-option>
	        		</md-select>
	      		</md-input-container>
	      		<md-input-container>
	      			<md-button ng-click="submit()" class="md-primary btn btn-primary">Tambah</md-button>
	      		</md-input-container>	  
			</form>
		</div>
	</div>
</div>