<div layout-align="center start" md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <md-content class="md-whiteframe-11dp" flex="90">
        <div layout-margin>
        	<md-content>
        		<h2><center>PEMERINTAH KOTA BOGOR</center></h2><br />
        		<h3><center>DINAS PENDIDIKAN</center></h3><br />
        		<h1><center>SMP NEGERI 10 BOGOR</center></h1><br />
        		<h3><center>TERAKREDITASI A</center></h3><br />
        		<h5><center><i>Jl. Komplek Perumala 1 Cipaku Telp. 0251-8371115 Kecamatan Bogor Selatan 16133</i></center></h5><br />
        		<h5><center><i>E-mail: smpn10kotabogor@yahoo.com</i></center></h5><br />
        	</md-content>
        </div>
      </md-content>
   	</div>