<div ng-controller="RaporCtrl">
	<div id="rapor">
	<div>
    	<h2 style="height: 6px"><center>PEMERINTAH KOTA BOGOR</center></h2>
        <h3 style="height: 6px"><center>DINAS PENDIDIKAN</center></h3>
        <h1 style="height: 6px"><center>SMP NEGERI 10 BOGOR</center></h1>
        <h3 style="height: 6px"><center>TERAKREDITASI A</center></h3>
        <h5 style="height: 6px"><center><i>Jl. Komplek Perumala 1 Cipaku Telp. 0251-8371115 Kecamatan Bogor Selatan 16133</i></center></h5>
        <h5 style="height: 6px"><center><i>E-mail: smpn10kotabogor@yahoo.com</i></center></h5>
        <md-divider></md-divider>
   </div>
        	<div style="height: 90px">
        		<h4 style="height: 6px"><center>LAPORAN</center></h4>
        		<h4 style="height: 6px"><center>HASIL BELAJAR PESERTA DIDIK</center></h4>
        		<h4 style="height: 6px"><center>SEKOLAH MENENGAH PERTAMA (SMP)</center></h4>
        	</div>
        	<md-table-container>
        		<table md-table md-row-select ng-model="penilaian" md-progress="promise" layout-padding id="basic-table">
					<thead md-head md-order="query.order" md-on-reorder="onReorder">
							<tr md-row style="height: 6px; width: auto;">
								<th md-coloumn align="left" style="width: 100px;">Nama Siswa</th>
								<th md-coloumn align="left" style="widows: 50px">:</th>
								<td md-coloumn>{{siswa.siswa.namaSiswa}}</td>
								<th md-coloumn align="right"  style="width: 100px;">Kelas</th>
								<th md-coloumn align="left">:</th>
								<td md-coloumn align="left" style="width: 100px;">{{siswa.kelas.tingkat.tingkat}}{{siswa.kelas.grupKelas.grupKelas}}</th>
							</tr>
					</thead>
					<thead md-head md-order="query.order" md-on-reorder="onReorder">
						<tr md-row style="height: 6px; width: auto;">
							<th md-coloumn align="left">NISN</th>
							<th md-coloumn align="left">:</th>
							<td md-coloumn>{{siswa.siswa.nisn}}</th>
							<th md-coloumn align="right">Semester</th>
							<th md-coloumn align="left">:</th>
							<td md-coloumn align="left">2</th>
						</tr>
					</thead>
					<thead md-head md-order="query.order" md-on-reorder="onReorder" style="width: 90px;">
						<tr md-row style="height: 6px; width: auto;">
							<th md-coloumn align="left" style="width: 20px;"></th>
							<th md-coloumn align="left" style="width: 20px;"></th>
							<td md-coloumn style="width: 20px;"></th>
							<th md-coloumn align="right" style="width: 10px;">Tahun Pelajaran</th>
							<th md-coloumn align="left" style="width: 10px;">:</th>
							<td md-coloumn align="left" style="width: 100px;">{{siswa.kelas.tahunAjaran.tahunAwal}} / {{siswa.kelas.tahunAjaran.tahunAkhir}}</th>
						</tr>
					</thead>
				</table>
			</md-table-container>
			<md-table-container>
				<table md-table md-row-select border="1" ng-model="penilaian" md-progress="promise">
					<thead md-head md-order="query.order" md-on-reorder="onReorder" style="border: 1px;">
						<tr md-row style="width: 5px; height: 20px">
							<th md-coloumn style="width: 5px; height: 8px">No.</th>
							<th md-coloumn>Mata Pelajaran</th>
							<th md-coloumn>KKM</th>
							<th md-coloumn>Nilai</th>
							<th md-coloumn>Keterangan Kompetensi</th>
						</tr>
					</thead>
					<tbody>
						<tr md-row ng-repeat="(key, value) in nilai">
							<td md-coloumn align="center">{{$index + 1}}</td>
							<td md-coloumn align="center">
								{{key.split('-')[0]}}
							</td>
							<td md-coloumn align="center">
								{{key.split('-')[1]}}
							</td>
							<td md-coloumn align="center">
								{{value}}
							</td>
							<td md-coloumn align="center">
								<div ng-if="value < key.split('-')[1]">
									Belum Tercapai
								</div>
								<div ng-if="value >= key.split('-')[1]">
									Terlampaui
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</div>
   	</div>
   	<md-button class="md-fab md-mini md-primary" onclick="javascript:demoFromHTML();" >
          		<ng-md-icon icon="file_download"></ng-md-icon>
        	</md-button>