<div ng-controller="RaporCtrl">
	<div layout-align="center start" md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <md-content class="md-whiteframe-11dp" flex="90">
        <div layout-margin>
        	<div>
        		<img alt="kotabogor" src="/views/partials/rapor/kotabogor.png">
        		<h5 style="height: 6px"><center>PEMERINTAH KOTA BOGOR</center></h2>
        		<h3 style="height: 6px"><center>DINAS PENDIDIKAN</center></h3>
        		<h1 style="height: 6px"><center>SMP NEGERI 10 BOGOR</center></h1>
        		<h3 style="height: 6px"><center>TERAKREDITASI A</center></h3>
        		<h5 style="height: 6px"><center><i>Jl. Komplek Perumala 1 Cipaku Telp. 0251-8371115 Kecamatan Bogor Selatan 16133</i></center></h5>
        		<h5 style="height: 6px"><center><i>E-mail: smpn10kotabogor@yahoo.com</i></center></h5>
        		<md-divider></md-divider>
        	</div>
        	<div style="height: 90px">
        		<h4 style="height: 6px"><center>LAPORAN</center></h4>
        		<h4 style="height: 6px"><center>HASIL BELAJAR PESERTA DIDIK</center></h4>
        		<h4 style="height: 6px"><center>SEKOLAH MENENGAH PERTAMA (SMP)</center></h4>
        	</div>
        		<md-table-container>
					<table md-table md-row-select ng-model="penilaian" md-progress="promise">
						<thead md-head md-order="query.order" md-on-reorder="onReorder">
							<tr md-row style="height: 6px; width: auto;">
								<th md-coloumn align="left">Nama Siswa</th>
								<th md-coloumn align="left">:</th>
								<td md-coloumn>dfsdf</th>
								<th md-coloumn align="left">Kelas</th>
								<th md-coloumn align="left">:</th>
								<td md-coloumn>kelas</th>
							</tr>
						</thead>
						<thead md-head md-order="query.order" md-on-reorder="onReorder">
							<tr md-row style="height: 6px; width: auto;">
								<th md-coloumn align="left">NISN</th>
								<th md-coloumn align="left">:</th>
								<td md-coloumn>akdhfkasd</th>
								<th md-coloumn align="left">Semester</th>
								<th md-coloumn align="left">:</th>
								<td md-coloumn align="left">Semester</th>
							</tr>
						</thead>
						<thead md-head md-order="query.order" md-on-reorder="onReorder">
							<tr md-row style="height: 6px; width: auto;">
								<th md-coloumn align="left"></th>
								<th md-coloumn align="left"></th>
								<td md-coloumn></th>
								<th md-coloumn align="left">Tahun Pelajaran</th>
								<th md-coloumn align="left">:</th>
								<td md-coloumn align="left">Tahun Pelajaran</th>
							</tr>
						</thead>
					</table>
				</md-table-container>
        		
        		<md-table-container>
					<table md-table md-row-select border="1" ng-model="penilaian" md-progress="promise">
						<thead md-head md-order="query.order" md-on-reorder="onReorder">
							<tr md-row style="width: 5px; height: 20px">
								<th md-coloumn style="width: 5px; height: 8px">No.</th>
								<th md-coloumn>Mata Pelajaran</th>
								<th md-coloumn>KKM</th>
								<th md-coloumn>Nilai</th>
								<th md-coloumn>Keterangan Kompetensi</th>
							</tr>
						</thead>
						<tbody>
							<tr md-row>
								<th md-coloumn>1</th>
								<th md-coloumn>Bahasa Indonesia</th>
								<th md-coloumn>76</th>
								<th md-coloumn>80</th>
								<th md-coloumn>Terlampaui</th>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				
				<md-table-container>
					<table md-table md-row-select border="1" ng-model="penilaian" md-progress="promise">
						<thead md-head md-order="query.order" md-on-reorder="onReorder">
							<tr md-row>
								<th md-coloumn>Akhlak dan Kepribadian *)</th>
								<th md-coloumn>Ketidakhadiran</th>
								
							</tr>
						</thead>
					</table>
				</md-table-container>
        	</md-content>
        	
        </div>

      
   	</div>
</div>