<div ng-controller="addKelasCtrl">
		<h2>Isi Kelas</h2>
		<form ng-submit="submit()">
			<input type="text" ng-model="kelas.tingkat" placeholder="Tingkat Kelas"><br />
			<input type="text" ng-model="kelas.grupKelas" placeholder="Grup Kelas"><br />
			<input type="text" ng-model="kelas.jurusan" placeholder="Jurusan Kelas"><br />
			<select ng-model="kelas.tahunAjaran.id">
				<option ng-repeat="ajaran in tahun_ajaran" value="{{ajaran.id}}">{{ajaran.tahunAwal}}</option>
			</select>
			<select ng-model="kelas.sekolah.id">
				<option ng-repeat="sek in sekolah" value="{{sek.id}}">{{sek.namaSekolah}}</option>
			</select>
			<select ng-model="kelas.waliKelas.id">
				<option ng-repeat="wali in guru" value="{{wali.id}}">{{wali.nama}}</option>
			</select>
			<input type="submit" value="OK">
		</form>
		
		<h5>Kelas Siswa</h5>
			Tingkat Kelas: {{kelas.tingkat}}<br />
			Grup Kelas: {{kelas.grupKelas}}<br />
			Jurusan Kelas: {{kelas.jurusan}}<br />
			
	</div>