<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Kelas</h1>
</md-toolbar>

<div ng-controller="KelasCtrl">
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<form name="formSubmit" ng-submit="simpan()">
			</md-input-container>
	      			<label>Tingkat</label>
	        		<md-select ng-model="formData.tingkat.id">
	          			<md-option ng-repeat="tingkat in tingkat track by $index" value="{{tingkat.id}}">
	            			{{tingkat.tingkat}}
	         			</md-option>
	        		</md-select>
	      		</md-input-container>
	      		</md-input-container>
	      			<label>Grup Kelas</label>
	        		<md-select ng-model="formData.grupKelas.id">
	          			<md-option ng-repeat="grup in grup_kelas track by $index" value="{{grup.id}}">
	            			{{grup.grupKelas}}
	         			</md-option>
	        		</md-select>
	      		</md-input-container>
	     		<md-input-container>
	      			<label>Tahun Ajaran</label>
	        		<md-select ng-model="formData.tahunAjaran.id">
	          			<md-option ng-repeat="ajaran in tahun_ajaran track by $index" value="{{ajaran.id}}">
	            			{{ajaran.tahunAwal}}
	         			</md-option>
	        		</md-select>
	      		</md-input-container>
	      		<md-input-container>
	      			<label>Wali Kelas</label>
	        		<md-select ng-model="formData.waliKelas.id">
	          			<md-option ng-repeat="wali in guru track by $index" value="{{wali.id}}">
	            			{{wali.nama}}
	         			</md-option>
	        		</md-select>
	      		</md-input-container>
   			<md-input-container>
      			<input type="submit" class="md-button md-primary" value="Tambah" />
      		</md-input-container>	
		</form>
	</md-content>
</div>