<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Kelas</h1>
</md-toolbar>
<a href="/#/kelas-form">
    	<md-button class="md-fab md-mini md-primary center" aria-label="Add">
          	<ng-md-icon icon="add" style="fill: #abcdef" size="23"></ng-md-icon>
        </md-button>
    </a>
   
<md-table-container>
	<table md-table md-row-select border="1">
		<thead md-head>
			<tr md-row>
				<th md-coloumn>ID Kelas</th>
				<th md-coloumn>Tingkat Kelas</th>
				<th md-coloumn>Grup Kelas</th>
				<th md-coloumn>Jurusan Kelas</th>
				<th md-coloumn>Tahun Ajaran</th>
				<th md-coloumn>Nama Sekolah</th>
				<th md-coloumn>Wali Kelas</th>
				<th md-coloumn>Aksi</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-repeat="item in items">
				<th md-cell>{{item.id}}</th>
				<th md-cell>{{item.tingkat}}</th>
				<th md-cell>{{item.grupKelas}}</th>
				<th md-cell>{{item.jurusan}}</th>
				<th md-cell>{{item.tahunAjaran.tahunAwal}} / {{item.tahunAjaran.tahunAkhir}}</th>
				<th md-cell>{{item.sekolah.namaSekolah}}</th>
				<th md-cell>{{item.waliKelas.nama}}</th>
				<th md-cell>
		 			<a href="/#/kelas-edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/kelas-detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href="/#/kelas-delete/{{item.id}}"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 		</th>
				
			</tr>
		</tbody>
	</table>
</md-table-container>