<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Kelas Siswa</h1>
</md-toolbar>
<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Kabupaten</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
			 	ID Kelas Siswa: {{formData.id}}<br />
				Kelas: {{formData.kelas.tingkat.tingkat}} {{formData.kelas.grupKelas.grupKelas}}<br />
				Nama Siswa: {{formData.siswa.namaSiswa}}<br />
			 </div>
		</md-list-item>
	</md-list>
</md-content>