<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Kelas Siswa</h1>
</md-toolbar>
<div ng-controller="KelasSiswaCtrl" layout="column" ng-cloak class="md-inline-form">
	<div layout-align="center start" md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <md-content class="md-whiteframe-11dp" flex="90">
        <div layout-margin>
        	<md-table-container>
				<table md-table md-row-select border="1">
					<tbody md-body>
						<tr md-row>
							<th md-coloumn>Kelas</th>
							<th md-coloumn>{{formData.kelas.tingkat.tingkat}} {{formData.kelas.grupKelas.grupKelas}}</td>
						</tr>
					</tbody>
					<tbody md-body>
						<tr md-row>
							<th md-coloumn>Nama Siswa</th>
							<th md-coloumn>{{formData.siswa.namaSiswa}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
        </div>
      </md-content>
</div>