<div ng-controller="addKelasSiswaCtrl">
		<h2>Isi Kelas Siswa</h2>
		<form ng-submit="submit()">
			Kelas:
			<select ng-model="kelas_siswa.kelas.id">
				<option ng-repeat="kel in kelas" value="{{kel.id}}">{{kel.tingkat}}</option>
			</select>
			Grup:
			<select ng-model="kelas_siswa.kelas.id">
				<option ng-repeat="kel in kelas" value="{{kel.id}}">{{kel.grupKelas}}</option>
			</select>
			Siswa:
			<select ng-model="kelas_siswa.siswa.id">
				<option ng-repeat="sis in siswa" value="{{sis.id}}">{{sis.namaSiswa}}</option>
			</select>
			<input type="submit" value="OK">
		</form>
		
	</div>