<div>
		<h2>List Kelas Siswa</h2>
		<table border="1">
			<thead>
				<tr>
					<th>ID Kelas Siswa</th>
					<th>Tingkat Kelas</th>
					<th>Grup Kelas</th>
					<th>Tahun Ajaran</th>
					<th>Nama Siswa</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item.id}}</td>
					<td><a href="/#/kelas-siswa-detail/{{item.id}}">{{item.tingkat}}</a></td>
					<td>{{item.grupKelas}}</td>
					<td>{{item.tahunAjaran.tahunMasuk}} / {{item.tahunAjaran.tahunKeluar}}</td>
					<td>{{item.siswa.namaSiswa}}</td>
				</tr>
			</tbody>
		</table>
	</div>