<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Edit User</h1>
</md-toolbar>
<div ng-controller="updateUserCtrl">
		<h2>Edit User</h2>
		<form ng-submit="update(users.id)">
			<input type="text" ng-model="users.username" placeholder="Username"><br />
			<input type="password" ng-model="users.password" placeholder="Password"><br />
			<input type="radio" name="enabled" ng-model="users.enabled" value="true"/>True
			<input type="radio" name="enabled" ng-model="users.enabled" value="false"/>False
			<input type="submit" value="OK">
		</form>
		
		<h5>User</h5>
			Username: {{users.username}}<br />
			Password: {{users.password}}<br />
</div>