<div ng-controller="addUserCtrl">
		<h2>Tambah User</h2>
		<form ng-submit="submit()">
			<input type="text" ng-model="users.username" placeholder="Username"><br />
			<input type="password" ng-model="users.password" placeholder="Password"><br />
			<input type="radio" name="enabled" ng-model="users.enabled" value="true"/>True
			<input type="radio" name="enabled" ng-model="users.enabled" value="false"/>False
			<input type="submit" value="OK">
		</form>
		
		<h5>User</h5>
			Username: {{users.username}}<br />
			Password: {{users.password}}<br />
</div>