<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List User</h1>
</md-toolbar>
    <a href="/#/user-form"><md-button md-no-ink class="md-primary">Tambah</md-button></a>
</md-toolbar>
<md-table-container>
	<table md-table md-row-select border="1">
		<thead md-head>
			<tr md-row>
				<th md-coloumn>Username</th>
				<th md-coloumn>Password</th>
				<th md-coloumn>Aksi</th>				
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-repeat="item in items">
				<th md-cell>{{item.username}}</th>
				<th md-cell>{{item.password}}</th>
				<th md-cell>
					<a href="/#/user-edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/user-detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href="/#/user-delete/{{item.id}}"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
				</th>
			</tr>
		</tbody>
	</table>
</md-table-container>