<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Hari Libur</h1>
</md-toolbar>

<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Hari Libur</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
			 	Id Hari Libur: {{formData.id}} <br />
				Tanggal: {{formData.tanggal}} <br />
				Deskripsi: {{formData.deskripsi}} <br />
				Libur Nasional: {{formData.liburNasional}} <br />
			 </div>
		</md-list-item>
	</md-list>
</md-content>