<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Hari Libur</h1>
</md-toolbar>
	<a href="/#/hari-libur-form">
    	<md-button class="md-fab md-mini md-primary center" aria-label="Add">
          	<ng-md-icon icon="add" style="fill: #abcdef" size="23"></ng-md-icon>
        </md-button>
    </a>
<md-table-container>
	<table md-table md-row-select border="1">
		<thead md-head>
			<tr md-row>
				<th md-coloumn>ID Hari Libur</th>
				<th md-coloumn>Tanggal</th>
				<th md-coloumn>Deskripsi</th>
				<th md-coloumn>Libur Nasional</th>
				<th md-coloumn>Aksi</th>
			</tr>
		</thead>
		<tbody md-body align="">
			<tr md-row ng-repeat="item in items">
				<th md-cell>{{item.id}}</th>
				<th md-cell>{{item.tanggal}}</th>
				<th md-cell>{{item.deskripsi}}</th>
				<th md-cell>{{item.liburNasional}}</th>
				<th md-cell>
					<a href="/#/hari-libur-edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/hari-libur-detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href="/#/hari-libur-delete/{{item.id}}"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
				</th>
			</tr>
		</tbody>
	</table>
</md-table-container>