<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Edit Kabupaten</h1>
</md-toolbar>


	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<form name="formSubmit" ng-submit="update()">
			
			<md-input-container>
        		<label>Kode Kabupaten</label>
        		<input type="text" ng-model="formData.kodeKabupaten">
       		 </md-input-container>
       		 <md-input-container>
        		<label>Nama Kabupaten</label>
        		<input type="text" ng-model="formData.namaKabupaten">
       		 </md-input-container>
     		<md-input-container>
     			<label>Provinsi</label>
        		<md-select ng-model="formData.provinsi.id">
         			 <md-option ng-repeat="prov in provinsi track by $index" value="{{prov.id}}">
          				  {{prov.namaProvinsi}}
          			</md-option>
       			</md-select>
   			</md-input-container>
   			<md-input-container>
      			<input type="submit" class="md-button md-primary" value="Edit" />
      		</md-input-container>	
		</form>
	</md-content>
