<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Kabupaten</h1>
</md-toolbar>


<div ng-controller="KabupatenCtrl">
<div>
    <div layout="row">
    <form name="formSubmit" ng-submit="save()">
      <md-input-container>
        <label>Kode Kabupaten</label>
        <input type="text" ng-model="kabupaten.kodeKabupaten">
      </md-input-container>
      <md-input-container>
        <label>Nama Kabupaten</label>
        <input type="text" ng-model="kabupaten.namaKabupaten">
      </md-input-container>
      <md-input-container>
        <label>Provinsi</label>
        <md-select data-ng-model="kabupaten.provinsi.id">
          <md-option ng-repeat="prop in provinsi track by $index" value="{{prop.id}}">
            {{prop.namaProvinsi}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
      		<input type="submit" class="md-button md-primary" value="Tambah" />
      </md-input-container>	  
      </form>
    </div>
  </div>
	</div>