<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Tambah Kabupaten</span>
  </div>
</md-toolbar>

<div ng-controller="addKabupatenCtrl">
<div>
    <div layout="row">
    <form ng-submit="submit()">
      <md-input-container>
        <label>Kode Kabupaten</label>
        <input type="text" ng-model="kabupaten.kodeKabupaten">
      </md-input-container>
      <md-input-container>
        <label>Nama Kabupaten</label>
        <input type="text" ng-model="kabupaten.namaKabupaten">
      </md-input-container>
      <md-input-container>
        <label>Provinsi</label>
        <md-select ng-model="kabupaten.provinsi.id">
          <md-option ng-repeat="prop in provinsi" value="{{prop.id}}">
            {{prop.namaProvinsi}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
      		<md-button ng-click="submit()" class="md-primary btn btn-primary">Tambah</md-button>
      </md-input-container>	  
      </form>
    </div>
  </div>
	</div>