<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login Page</title>
	<link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" th:href="@{/bower_components/angular-material/angular-material.css}" />
    <link href="../bower_components/angular-material-data-table/dist/md-data-table.min.css" th:href="@{/bower_components/angular-material-data-table/dist/md-data-table.min.css}" rel="stylesheet"/>
    <link href="../bower_components/angular-material-icons/angular-material-icons.css" th:href="@{/bower_components/angular-material-icons/angular-material-icons.css}" rel="stylesheet"/>

</head>
<body>
	<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Login Page</h1>
	</md-toolbar><br />

		<form name="f" th:action="@{/signin}" method="post">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

			<div th:if="${param.error}">Invalid username and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>

			<table border="1">
				<tbody>
					<tr>
						<td>Username</td>
						<td><input type="text" name="username" /></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="password" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="Sign In" /></td>
					</tr>

				</tbody>
			</table>
		</form>
<md-button>tes</md-button>


	<script type="text/javascript" src="../scripts/vendor/angular.min.js" th:src="@{/scripts/vendor/angular.min.js}"></script>
	<script type="text/javascript" src="../scripts/vendor/angular-route.min.js" th:src="@{/scripts/vendor/angular-route.min.js}"></script>
	<script type="text/javascript" src="../bower_components/angular-material/angular-material.js" th:src="@{/bower_components/angular-material/angular-material.js}"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.js" th:src="@{/bower_components/angular/angular.js}"></script> 
	<script type="text/javascript" src="../bower_components/angular-aria/angular-aria.js" th:src="@{/bower_components/angular-aria/angular-aria.js}"></script> 
	<script type="text/javascript" src="..//bower_components/angular-animate/angular-animate.js" th:src="@{/bower_components/angular-animate/angular-animate.js}"></script> 
	<script type="text/javascript" src="../bower_components/angular-material/angular-material.js" th:src="@{/bower_components/angular-material/angular-material.js}"></script> 
	<script type="text/javascript" src="../bower_components/angular-material-data-table/dist/md-data-table.min.js" th:src="@{/bower_components/angular-material-data-table/dist/md-data-table.min.js}"></script>
	<script type="text/javascript" src="../bower_components/angular-material-icons/angular-material-icons.min.js" th:src="@{/bower_components/angular-material-icons/angular-material-icons.min.js}"></script>
</body>
</html>