<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">List Role</h1>
</md-toolbar>
    <a href="/#/user-role-form">
    	<md-button class="md-fab md-mini md-primary center" aria-label="Add">
          	<ng-md-icon icon="add" style="fill: #abcdef" size="23"></ng-md-icon>
        </md-button>
    </a>
    
<md-table-container>
	<table md-table md-row-select>
		<thead md-head>
			<tr md-row>
				<th md-coloumn>Role</th>
				<th md-coloumn>Username</th>
				<th md-coloumn>Aksi</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-repeat="item in items">
				<th md-cell>{{item.role}}</th>
				<th md-cell>{{item.users.username_id}}</th>
				<th md-cell>
		 			<a href="/#/user-role-edit/{{item.id}}"><ng-md-icon icon="mode_edit" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 			<a href="/#/user-role-detail/{{item.id}}"><ng-md-icon icon="info" style="fill: #abcdef" size="20"></ng-md-icon></a> 
		 			<a href="/#/user-role-delete/{{item.id}}"><ng-md-icon icon="delete" style="fill: #abcdef" size="20"></ng-md-icon></a>
		 		</th>
			</tr>
		</tbody>
	</table>
	<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{user.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
</md-table-container>