<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Absensi Siswa</h1>
</md-toolbar>
<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Hari Libur</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
			 	ID Tahun Ajaran : {{absensi_siswa.id}} <br />
				Tanggal: {{absensi_siswa.tanggal}} <br />
				Jenis Absensi: {{absensi_siswa.jenisAbsensi}} <br />
				Alasan: {{absensi_siswa.alasan}} <br />
				Tahun Ajaran: {{absensi_siswa.tahunAjaran.tahunAwal}}/{{absensi_siswa.tahunAjaran.tahunAkhir}}<br />
				Nama Sekolah: {{absensi_siswa.sekolah.namaSekolah}}
			 </div>
		</md-list-item>
	</md-list>
</md-content>