<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Absensi Siswa</h1>
</md-toolbar>
<br />
<div ng-controller="AbsensiSiswaCtrl">
	<div layout-align="center start" md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<md-content class="md-whiteframe-11dp" flex="90">
			<div layout-margin>
        		<form name="formSubmit" ng-submit="save()">
    				<div layout-gt-xs="row" class="box">
    					<md-input-container class="md-block" flex-gt-xs>
            				<label>Alasan</label>
            				<input ng-model="formData.alasan">
          				</md-input-container>
    					<md-datepicker ng-model="formData.tanggal" md-placeholder="Tanggal"></md-datepicker>
		       		</div>
   					<md-content style="width:400px">
        				<p>Jenis Absensi: <span class="radioValue">{{ formData.jenisAbsensi }}</span> </p>
        				<md-radio-group ng-model="formData.jenisAbsensi">
	        				<md-radio-button name="jenisAbsensi" value="Sakit" class="md-primary">Sakit</md-radio-button>
	        				<md-radio-button name="jenisAbsensi" value="Izin" class="md-primary">Izin</md-radio-button>
	        				<md-radio-button name="jenisAbsensi" value="Alpha" class="md-primary">Alpha</md-radio-button>
	        			</md-radio-group>
     				</md-content><br />
     				<md-content>
			        	<label>Tahun Ajaran</label>
			        		<md-select ng-model="formData.tahunAjaran.id">
			          			<md-option ng-repeat="ajaran in tahun_ajaran" value="{{ajaran.id}}">
			            			{{ajaran.tahunAwal}}
			          			</md-option>
			        		</md-select>
		      		</md-content><br />
		      		<div layout="row" layout-wrap layout-margin layout-align="end end">
        				<md-input-container>
        					<input type="reset" class="md-button md-raised md-primary"  value="Reset" />
      					</md-input-container>
        				<md-input-container>
        					<input type="submit" class="md-button md-raised md-primary"  value="Tambah" />
      					</md-input-container>
      				</div>
      			</form>
        	</div>
        </md-content>
    </div>
</div>
    
