<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Grup Kelas</h1>
</md-toolbar>

<div ng-controller="GrupKelasCtrl">
	<div>
		<div layout="row" align="center">
			<form name="formSubmit" ng-submit="save()">
	     		<md-input-container>
	        		<label>Grup Kelas</label>
	        		<input type="text" ng-model="formData.grupKelas" maxlength="1">
	     		</md-input-container><br />
	      		<md-input-container>
	      			<input type="submit" class="md-button md-primary" value="Tambah" />
	      		</md-input-container>
			</form>
		</div>
	</div>
</div>