<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Mata Pelajarans</h1>
</md-toolbar>

<div ng-controller="MataPelajaranCtrl">
<div>
	<div layout="row">
		<form ng-submit="save()">
			<md-input-container>
        		<label>Mata Pelajaran</label>
        		<input type="text" ng-model="formData.namaMatpel">
     		</md-input-container>
     		<md-input-container>
      			<input type="submit" class="md-button md-primary" value="Tambah" />
      		</md-input-container>
		</form>
	</div>
</div>