<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Mata Pelajarans</h1>
</md-toolbar>

<div ng-controller="addMatpelCtrl">
<div>
	<div layout="row">
		<form ng-submit="submit()">
			<md-input-container>
        		<label>Mata Pelajaran</label>
        		<input type="text" ng-model="mata_pelajaran.namaMatpel">
     		</md-input-container>
     		<md-input-container>
      			<md-button ng-click="submit()" class="md-primary btn btn-primary">Tambah</md-button>
      		</md-input-container>
		</form>
	</div>
</div>