<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Mata Pelajarans</h1>
</md-toolbar>

<div ng-controller="KriteriaCtrl">
<div>
	<div layout="row">
		<form ng-submit="save()">
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
	        		<label>Kriteria Nilai</label>
	        		<input type="text" ng-model="formData.namaKriteria">
	     		</md-input-container>
	     		<md-input-container>
	      			<input type="submit" class="md-button md-raised md-primary" value="Tambah" />
	      		</md-input-container>
	      	</div>
		</form>
	</div>
</div>