<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Detail Sekolah</h1>
</md-toolbar>
<md-content>
	<md-list>
		<md-subheader class="md-no-sticky">Detail Sekolah</md-subheader>
		<md-list-item class="md-3-line">
			 <div class="md-list-item-text" layout="column">
				ID Sekolah : {{formData.id}} <br />
				Kode Sekolah: {{formData.kodeSekolah}} <br />
				Nama Sekolah: {{formData.namaSekolah}} <br />
				Tingkat: {{formData.tingkatan.tingkat}} <br />
				Kode Pos: {{formData.kodePos}} <br />
				Kecamatan: {{formData.kecamatan.namaKecamatan}} <br />
				Kabupaten: {{formData.kabupaten.namaKabupaten}} <br />
				Provinsi: {{formData.provinsi.namaProvinsi}}
			</div>
		</md-list-item>
	</md-list>
</md-content>