<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tambah Sekolah</h1>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Tambah Sekolah</span>
  </div>
</md-toolbar>

<div ng-controller="addSekolahCtrl">
<div>
	<div layout="row">
		<form ng-submit="submit()">
			<md-input-container>
        		<label>Kode Sekolah</label>
        		<input type="text" ng-model="sekolah.kodeSekolah">
     		</md-input-container>
     		<md-input-container>
        		<label>Nama Sekolah</label>
        		<input type="text" ng-model="sekolah.namaSekolah">
     		</md-input-container>
     		<md-input-container>
        		<label>Kode Pos</label>
        		<input type="text" ng-model="sekolah.kodePos">
     		</md-input-container>
     		<md-input-container>
        		<label>Kecamatan</label>
        		<md-select ng-model="sekolah.kecamatan.id">
          			<md-option ng-repeat="kec in kecamatan" value="{{kec.id}}">
           		 		{{kec.namaKecamatan}}
          			</md-option>
       		 	</md-select>
      		</md-input-container>
      		<md-input-container>
        		<label>Kabupaten</label>
        		<md-select ng-model="sekolah.kabupaten.id">
          			<md-option ng-repeat="kab in kabupaten" value="{{kab.id}}">
           		 		{{kab.namaKabupaten}}
          			</md-option>
       		 	</md-select>
      		</md-input-container>
      		<md-input-container>
        		<label>Provinsi</label>
        		<md-select ng-model="sekolah.provinsi.id">
          			<md-option ng-repeat="prov in provinsi" value="{{prov.id}}">
           		 		{{prov.namaProvinsi}}
          			</md-option>
       		 	</md-select>
      		</md-input-container>
      		<md-input-container>
      			<md-button ng-click="submit()" class="md-primary btn btn-primary">Tambah</md-button>
      		</md-input-container>	 
		</form>
	</div>
</div>